body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

h2 {
    color: pink;
}

form {
    background: rgba(255, 20, 147, 0.1);
    padding: 20px;
    border-radius: 5px;
    border: 2px solid pink;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: purple;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: purple;
}

.alert {
    color: red;
}

.timer {
    font-size: 48px;
    text-align: center;
    margin: 20px 0;
}

.settings {
    display: flex;
    justify-content: space-between;
}

.settings input {
    width: 45%;
}